@model IEnumerable<DBSmartAPIManager.DAL.Entities.Project>
@{
    ViewData["Title"] = "Projects";
    ViewData["BodyClass"] = "projects-page";
    Layout = "_Layout";
}

<h1>PROJECTS</h1>

<div class="container">

    <!--Add Project Button-->
    <form asp-action="Edit" asp-controller="Project" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary">Add Project</button>
    </form>

    <input type="text" id ="filter" placeholder="Search projects..."/>

    <ul id ="project-list">
        @foreach(var project in Model)
        {
            <li>
                <strong>@project.Name</strong>

                <!--Proje JSON sayfasına yönlendirme butonu-->
                <form asp-action="GoToProjectJson" asp-controller="Project" method="get">
                    <input type="hidden" name="projectId" value="@project.ProjectId" />
                    <button type="submit" class="btn btn-info">View Project JSONs</button>
                </form>

                <!--Details Button-->
                <form asp-action="Edit" asp-controller="Project" method="get" style="display:inline;">
                    <input type="hidden" name="id" value="@project.ProjectId" />
                    <button type="submit" class="btn btn-info">Details</button>
                </form>

                <!--Delete Button-->
                <form asp-action="Delete" asp-controller="Project" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this project?');">
                    <input type="hidden" name="id" value="@project.ProjectId"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </li>
        }

    </ul>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
    
}
