@model DBSmartAPIManager.DAL.Entities.ProjectJson

@{
    ViewData["Title"] = "Edit Project Json";
}

<h2>Edit Project Json</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ProjectJsonId" />
    <div class="form-group">
        <label asp-for="JsonName"></label>
        <input asp-for="JsonName" class="form-control"/>
        <span asp-validation-for="JsonName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RequestUrl"></label>
        <input asp-for="RequestUrl" class="form-control" />
        <span asp-validation-for="RequestUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RelatedTable"></label>
        <input asp-for="RelatedTable" class="form-control" />
        <span asp-validation-for="RelatedTable" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SendPattern"></label>
        <textarea asp-for="SendPattern" class="form-control"></textarea>
        <span asp-validation-for="SendPattern" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReceivedPattern"></label>
        <textarea asp-for="ReceivedPattern" class="form-control"></textarea>
        <span asp-validation-for="ReceivedPattern" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UploadDate"></label>
        <input asp-for="UploadDate" class="form-control" />
        <span asp-validation-for="UploadDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProjectId"></label>
        <input asp-for="ProjectId" class="form-control" />
        <span asp-validation-for="ProjectId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>

</form>
<a asp-action="Index">Back to List</a>