@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background:transparent;
    z-index: 1000;
}

.header .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}

.navbar .btnLogin-popup {
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .btnLogin-popup:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.section {
    min-height: 100vh;
    background: url("/images/apiBlog.png") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(15px);
    box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
    border-left: 2px solid rgba(255, 255, 255, .1);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    
}



.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}

.icon-close i {
    font-size: 32px;
    color: #333;
}

.wrapper .logreg-box {
    width: 100%;
}

.wrapper .form-box.login {
    display: block;
}

.wrapper.active .form-box.login {
    display: none;
}

.wrapper .form-box.register {
    display: none;
}

.wrapper.active .form-box.register {
    display: block;
}

.logreg-box .logreg-title {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.logreg-title h2 {
    font-size: 32px;
}

.logreg-title p {
    font-size: 14px;
    font-weight: 500;
}

.logreg-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 25px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;
}

.logreg-box .remember-forgot {
    font-size: 14.5px;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.logreg-box .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #222;
    font-weight: 600;
}

.logreg-box .logreg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
}

.logreg-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

.media-options {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media-options a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.media-options a:hover {
    background: rgba(255, 255, 255, .1);
}

.media-options a i {
    font-size: 22px;
}

.media-options a span {
    font-size: 16px;
    font-weight: 500;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
    background-color:#c5d5e8;
    
}

/* For Projects Page*/




.container {
    max-width: 100%;
    margin: 0 auto;
    background: #789cc0df;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px; /*Add a top margin to the container*/
}

h1 {
    text-align: center;
    color: #fff;
    margin-top: 80px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background: #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;

}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

.close {
    color:#aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content label { 
    display: block;
    margin-top: 10px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-content textarea {
    resize: vertical;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.modal-content button:hover{
    background: #555;
}

#go-to-json-btn {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#go-to-json-btn:hover {
    background: #555;
}


/* JSON Yönetici sayfası için still*/

#json-container {
    display: flex;
    margin-top: 100px;
    height: calc(100vh-100px);/*Ekran yüksekliğinin kalanını kapla*/
    width: 100%;
}

.left-column{
    width: 30%;
    padding: 10px;
    background: #f4f4f4;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    max-height: calc(100vh-100px); /* Header'dan kalan alanı kaplar*/
}

.right-column {
    width: 70%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#json-list {
    list-style-type: none;
    padding: 0;
}

#json-list li {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #eee;
    margin-bottom: 5px;
}

#json-list li button {
    background: #333;
    color: #fff;
    border:none;
    padding: 5px 10px;
    cursor: pointer;

}

#json-list li button:hover {
    background: #555;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-item {
    flex: 1;
    margin-right: 10px;
}

.form-item:last-child {
    margin-right: 0;
}

#json-form label {
    display: block;
    margin-top: 10px;
}

#json-form input[type="text"],
#json-form input[type="date"],
#json-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 35px; /*Yüksekliği 35px yap*/
    box-sizing: border-box; /*Padding ve border dahil olacak şekilde hesapla*/
}

#json-form textarea.editor {
    height: 1000px;
}

#json-form button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#json-form button:hover {
    background: #555;
}

.pattern-container {
    display: flex;
    justify-content: space-between;
}

.pattern-container .editor-wrapper {
    width: 48%;
}

#json-form .pattern-container label {
    display: block;
    margin-top: 10px;
}

#json-form .pattern-container select,
#json-form .pattern-container .editor {
    width: 100%;
}

.CodeMirror {
    height: 1000px; /*Editör yüksekliği büyütülmüş*/
    border: 1px solid #ddd; /*Sınır ekle */
    border-radius: 4px;
    box-sizing: border-box;
}

#back-to-projects-btn {
    background: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#back-to-projects-btn:hover {
    background: #333;
}

.project-name-container {
    text-align: left;
    margin: 60px 100px 5px 100px; 
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

