/* Genel stiller */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px; /* Header yüksekliği kadar padding ekleyin */
    background-color: #f4f4f9; /* Daha açık bir arka plan rengi */
}

/* Header stili */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px; /* Padding küçültüldü */
    background-color: rgba(31, 31, 31, 0.85); /* Koyu bir transparan arka plan rengi */
    z-index: 1000;
    color: #fff;
}

    .header .header-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.logo {
    color: #fff;
    font-size: 25px; /* Font boyutu küçültüldü */
    text-decoration: none;
    font-weight: 700;
}

.navbar .btnLogin-popup {
    background: rgba(31, 31, 31, 0.85);
    border: 2px solid #fff;
    outline: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

    .navbar .btnLogin-popup:hover {
        background: #fff;
        color: #1f1f1f;
    }

/* Login ve Register popup stilleri */

/* Register sayfasında wrapper varsayılan olarak görünür olsun */
.register-page .wrapper {
    display: flex;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparan arka plan rengi */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

    .wrapper.active-popup {
        display: flex;
    }

.logreg-box {
    position: relative;
    background: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}




.form-box {
    display: none;
}

    .form-box.active {
        display: block;
    }



.logreg-title h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.logreg-title p {
    margin-bottom: 20px;
    color: #666;
}

.input-box {
    margin-bottom: 20px;
    position: relative;
}

    .input-box input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    .input-box label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background: #fff;
        padding: 0 5px;
        color: #999;
        pointer-events: none;
        transition: 0.3s;
    }

    .input-box input:focus + label,
    .input-box input:valid + label {
        top: -10px;
        left: 10px;
        color: #333;
        font-size: 12px;
    }

    .input-box .icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #999;
        font-size: 18px;
    }

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .remember-forgot label {
        display: flex;
        align-items: center;
        color: #666;
    }

        .remember-forgot label input {
            margin-right: 5px;
        }

    .remember-forgot a {
        color: #666;
        text-decoration: none;
        transition: 0.3s;
    }

        .remember-forgot a:hover {
            color: #333;
        }

.btn {
    width: 100%;
    padding: 10px;
    background: rgba(31, 31, 31, 0.85);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    .btn:hover {
        background: #333;
    }

.logreg-link {
    text-align: center;
    color: #666;
}

    .logreg-link a {
        color: #333;
        text-decoration: none;
        transition: 0.3s;
    }

        .logreg-link a:hover {
            color: #666;
        }

.icon-close {
    position: absolute;
    top: 10px; /* Üstten biraz daha boşluk */
    right: 10px; /* Sağdan biraz daha boşluk */
    width: 45px;
    height: 45px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Gölge ekleyin */
    transition: background-color 0.3s, transform 0.3s; /* Geçiş efektleri */
}

    .icon-close i {
        font-size: 32px;
        color: #333;
        transition: color 0.3s, transform 0.3s; /* Geçiş efektleri */
    }

    /* Hover etkisiyle değişiklikler */
    .icon-close:hover {
        background: #ff0000; /* Arka plan rengini kırmızıya değiştirin */
        transform: scale(1.1); /* Biraz büyütün */
    }

        .icon-close:hover i {
            color: #fff; /* Yazı rengini beyaza değiştirin */
            transform: rotate(90deg); /* İkonu döndürün */
        }

/* Home sayfası için özel stiller */
.home-page {
    background: url("../image/apiBlog.png") no-repeat center center/cover; /* Arka plan resmini tam ekran kaplatın */
    background-size: cover;
    height: 100vh; /* Sayfanın tamamını kapla */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* İçeriği dikey olarak dengele */
}

    .home-page .section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

/* Footer stili */
.footer {
    width: 100%;
    padding: 20px 0;
    background-color: rgba(31, 31, 31, 0.85); /*Koyu bir transparan arka plan rengi*/
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
}

    .footer .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }

    .footer p {
        margin: 0;
    }

    .footer .socials {
        list-style: none;
        display: flex;
        gap: 10px;
    }

        .footer .socials li {
            display: inline;
        }

        .footer .socials a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
        }

.home-page .footer {
    background: none;
    padding: 50px;
    background-color: rgba(31, 31, 31, 0.85); /* Koyu bir transparan arka plan rengi */
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-page .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.home-page .footer p {
    margin: 0;
}

.home-page .footer .socials {
    list-style: none;
    display: flex;
    gap: 10px;
}

    .home-page .footer .socials li {
        display: inline;
    }

    .home-page .footer .socials a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }


/* Projects sayfası için stiller */
.projects-page {
    max-width: 100%;
    margin: 0 auto;
    background: #ffffff; /* Daha açık bir arka plan rengi */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Üst margin ayarlandı */
}

    .projects-page h1 {
        text-align: center;
        color: #333; /* Daha koyu bir yazı rengi */
        margin-top: 80px; /* Üst margin ekleyerek boşluk sağlıyoruz */
        margin-bottom: 30px;
        font-size: 36px; /* Başlık boyutunu biraz artırıyoruz, opsiyonel */
    }

    .projects-page input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .projects-page ul {
        list-style: none;
        padding: 0;
    }

    .projects-page li {
        padding: 10px;
        margin: 5px 0;
        background: #e4e4e4;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .projects-page button {
        padding: 10px 20px;
        margin: 10px 0;
        background: rgba(31, 31, 31, 0.85); /* Koyu bir transparan arka plan rengi */
        color: #fff;
        border: none;
        cursor: pointer;
    }

        .projects-page button:hover {
            background: #333; /* Daha koyu bir arka plan rengi */
        }

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-content textarea {
    resize: vertical;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background: rgba(31, 31, 31, 0.85); /* Koyu bir transparan arka plan rengi */
    color: #fff;
    border: none;
    cursor: pointer;
}

    .modal-content button:hover {
        background: #333; /* Daha koyu bir arka plan rengi */
    }

/*new create page css*/

.create-project-page{
    max-width: 600px;
    margin: 0 auto;
    background:#ffffff; /*lighter background color*/
    padding:20px;
    box-shadow:0 0 10px rgba(0, 0,0,0.1);
    margin-top:40px;
}

create-project-page h2 {
    text-align:center;
    color:#333;
    margin-bottom:30px;
}

.create-project-page .form-group {
    margin-bottom: 15px;
}

    .create-project-page .form-group label {
        font-weight: bold;
    }

.create-project-page .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.create-project-page .btn-primary {
    background: rgba(31, 31, 31, 0.85); /* Koyu bir transparan arka plan rengi */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    .create-project-page .btn-primary:hover {
        background: #333; /* Daha koyu bir arka plan rengi */
    }



/* JSON Yönetici sayfası için stiller */
#json-container {
    display: flex;
    margin-top: 20px;
    height: calc(100vh - 140px); /* Header ve footer yüksekliğini çıkarın */
    width: 100%;
}

.left-column {
    width: 30%;
    padding: 10px;
    background: #f4f4f4;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    max-height: calc(100vh - 140px); /* Header ve footer yüksekliğini çıkarın */
}

.right-column {
    width: 70%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#json-list {
    list-style-type: none;
    padding: 0;
}

    #json-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: #eee;
        margin-bottom: 5px;
    }

        #json-list li button {
            background: rgba(31, 31, 31, 0.85); /* Koyu bir transparan arka plan rengi */
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

            #json-list li button:hover {
                background: #333; /* Daha koyu bir arka plan rengi */
            }

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-item {
    flex: 1;
    margin-right: 10px;
}

    .form-item:last-child {
        margin-right: 0;
    }

#json-form label {
    display: block;
    margin-top: 10px;
}

#json-form input[type="text"],
#json-form input[type="date"],
#json-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 35px; /* Yüksekliği 35px yap */
    box-sizing: border-box; /* Padding ve border dahil olacak şekilde hesapla */
}

    #json-form textarea.editor {
        height: 1000px;
    }

#json-form button {
    padding: 10px 20px;
    background: rgba(31, 31, 31, 0.85); /* Koyu bir transparan arka plan rengi */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

    #json-form button:hover {
        background: #333; /* Daha koyu bir arka plan rengi */
    }

.pattern-container {
    display: flex;
    justify-content: space-between;
}

    .pattern-container .editor-wrapper {
        width: 48%;
    }

#json-form .pattern-container label {
    display: block;
    margin-top: 10px;
}

#json-form .pattern-container select,
#json-form .pattern-container .editor {
    width: 100%;
}

.CodeMirror {
    height: 1000px; /* Editör yüksekliği büyütülmüş */
    border: 1px solid #ddd; /* Sınır ekle */
    border-radius: 4px;
    box-sizing: border-box;
}

/* .button-link sınıfı, a etiketlerini buton gibi stilize eder */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(31, 31, 31, 0.85); /* Buton arka plan rengi */
    color: #fff; /* Buton yazı rengi */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

    .button-link:hover {
        background: #333; /* Hover durumunda arka plan rengi */
    }

#back-to-projects-btn {
    background: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    #back-to-projects-btn:hover {
        background: #333; /* Daha koyu bir arka plan rengi */
    }

.project-name-container {
    text-align: left;
    margin: 10px 100px 10px 100px;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Daha koyu bir yazı rengi */
}

/* JSON sayfası için özel stiller */
.json-page h1 {
    text-align: center;
    color: #333;
    margin-top: 60px; /* Başlığı header'dan uzaklaştırmak için margin-top ekleyin */
    margin-bottom: 10px;
    font-size: 36px;
}

.json-page .left-column {
    padding: 20px;
    margin-top: 0px;
}

    .json-page .left-column button {
        background: rgba(31, 31, 31, 0.85);
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

        .json-page .left-column button:hover {
            background: #333;
        }

    .json-page .left-column input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .json-page .left-column ul {
        list-style: none;
        padding: 0;
    }

    .json-page .left-column li {
        padding: 10px;
        margin: 5px 0;
        background: #e4e4e4;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .json-page .left-column li button {
            background: rgba(31, 31, 31, 0.85);
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

            .json-page .left-column li button:hover {
                background: #333;
            }
