@{
    ViewData["Title"] = "Home";
    ViewData["BodyClass"] = "home-page";
}

@section styles {
    <style>
        .home-page {
            background: url(@Url.Content("~/images/apiBlog.png")) no-repeat center center/cover;
        }
    </style>
}

@section headerContent {
    <nav class="navbar">
        <button class="btnLogin-popup">Login</button>
    </nav>
}

<section class="section">
    <div class="wrapper" style="display: none;">
        <span class="icon-close">
            <i class='bx bx-x'></i>
        </span>
        <div class="logreg-box">
           @*  <!-- Login form -->
            <div class="form-box login">
                <div class="logreg-title">
                    <h2>Login</h2>
                    <p>Please login to use the platform</p>
                </div>
                @* <form asp-action="Login" asp-controller="Account" method="post">
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input name="Email" id="Email" type="email" class="form-control" required />
                        <label>Email</label>
                        
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                        <input name="Password" id="Password" type="password" class="form-control" required />
                        <label>Password</label>
                      
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox"> Remember me</label>
                        <a href="#">Forgot password?</a>
                    </div>
                    <button type="submit" class="button-link">Login</button>
                    <div class="logreg-link">
                        <p>
                            Don't have an account?
                            <a href="#" class="register-link">Register</a>
                        </p>
                    </div>
                </form> *@
            @* </div> *@
            <!-- Register form -->
            @* <div class="form-box register">
                <div class="logreg-title">
                    <h2>Registration</h2>
                    <p>Please provide the following to verify your identity</p>
                </div>
                <form asp-action="Register" asp-controller="Account" method="post">
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <input name="FullName" type="text" id="FullName" class="form-control" required />
                        <label>Full Name</label>
                        
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input name="Email" id="Email" type="email" class="form-control" required />
                        <label>Email</label>
                       
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                        <input name="Password" id="Password" type="password" class="form-control" required />
                        <label>Password</label>
                        
                    </div>
                    <div class="input-box">
                        <input name="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control" required />
                        <label>Confirm Password</label>
                        
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox"> I agree to the terms & conditions</label>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <div class="logreg-link">
                        <p>
                            Already have an account?
                            <a href="#" class="login-link">Login</a>
                        </p>
                    </div>
                </form>
            </div>  *@
        </div>
    </div>
</section>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
    <script src="~/js/scripts.js"></script>
}
