@{
    ViewData["Title"] = "JSON";
    ViewData["BodyClass"] = "json-page";
}



<h1>JSONS</h1>
@* <h2>Project: @ViewBag.ProjectName</h2> *@

<div id="project-name-container" class="project-name-container"></div>

<div id="json-container" class="container">
    <div class="left-column">
        <button id="new-json-btn">New</button>
        <input type="text" id="search-json" placeholder="Search JSON by name...">
        <ul id="json-list"></ul>
    </div>
    <div class="right-column">
        <div id="json-form">
            <div class="form-group">
                <div class="form-item">
                    <label for="json-name">JSON Name:</label>
                    <input type="text" id="json-name">
                </div>
                <div class="form-item">
                    <label for="date">Date:</label>
                    <input type="date" id="date">
                </div>
            </div>
            <div class="form-group">
                <div class="form-item">
                    <label for="request-url">Request URL</label>
                    <input type="text" id="request-url">
                </div>
                <div class="form-item">
                    <label for="related-table">Related Table:</label>
                    <input type="text" id="related-table">
                </div>
            </div>
            <label for="content">Content:</label>
            <textarea id="content"></textarea>
            <div class="pattern-container">
                <div class="editor-wrapper">
                    <label for="sent-pattern">Sent Pattern:</label>
                    <select id="sent-pattern-language">
                        <option value="javascript">JavaScript</option>
                        <option value="python">Python</option>
                        <option value="clike">C/C++/Java/C#</option>
                        <option value="dart">Dart</option>
                    </select>
                    <textarea id="sent-pattern" class="editor"></textarea>
                </div>
                <div class="editor-wrapper">
                    <label for="received-pattern">Received Pattern:</label>
                    <select id="received-pattern-language">
                        <option value="javascript">JavaScript</option>
                        <option value="python">Python</option>
                        <option value="clike">C/C++/Java/C#</option>
                        <option value="dart">Dart</option>
                    </select>
                    <textarea id="received-pattern" class="editor"></textarea>
                </div>
            </div>
            <div class="button-container">
                <button id="save-btn">Save</button>
                <a href="projects.html" class="button-link" id="back-to-projects-link">Back to Projects</a>

            </div>
        </div>
    </div>
</div>

@section scripts {
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/dart/dart.min.js"></script>
}
